{
    "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "sourceType": "module",
        "babelOptions": {
            "configFile": "./.babelrc"
        },
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "plugins": ["react", "simple-import-sort"],
    "ignorePatterns": ["/client/build", "/client/node_modules", "/node_modules"],
    "rules": {
        "no-underscore-dangle": "off",
        "import/extensions": "off",
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        // Todo: migrate to Typescript?
        "react/prop-types": "off",
        // TODO: Turn on below rules once fixed
        "camelcase": "off",
        "react/jsx-props-no-spreading": "off"
    },
    "globals": {
        "window": true,
        "navigator": true,
        "document": true
    }
}