@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  margin: auto;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #374244;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
