* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	border-radius: 10px;
}

body {
	background-color: #618685;
	text-align: center;
}

.searchList {
	width: 30%;
	float: left;
	background-color: #fefbd8;
	li {background-color: #80ced6;
	margin-right: 50px;}
}

.check {
	font-size: 1.5em;
}

img {
	width: 92px;
}

.userList {
	width: 65%;
	float: right;
	background-color: #80ced6;
	li {background-color: #fefbd8;}
	margin-left: 5%;
}

.tmdbLogo, h1 {
	font-family: 'Kumar One', cursive;
	img { width: 92px };
	width: 100%;
	clear: both;
	text-align: center;
	padding: 10px;
	background-color: #d5f4e6;
}

.lists {
	padding: 20px;
}

li {
	width: 70%;
	list-style: none;
	img {display: inline-block;
		position: relative;
		left: 0px;
		margin-right: 10px;
	}
	border: 2px solid black;
	margin: auto;
	padding: 5px;
	margin-bottom: 5px;
}
.episode {
	width: 90%;
}

.search {
	width: 450px;
}

.searchbar {
	width: 320px;
}

.getList, .listmaker {
	width: 400px;
}


.listbar {
	width: 270px;
}

.listselectors {
	width: 380px;
}

.search, .getList, .listmaker, .editor {
	background-color: #f6f6f6;
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	margin: 25px auto;
	overflow: hidden;
	padding: 8px;
	display: inline-block;
}

.listmaker, .getList {
	margin-left: 25px;
}

.searchbar, .listselectors, .listbar {
	border: 1px solid #CCC;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
  	color: #000000;
	float: left;
	font-size: 1em;
	height: 40px;
	padding: 10px;
}

button {
	background-color: #0483a0;
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	color: #fafafa;
	height: 42px;
	float: right;
	font-size: 15px;
	padding: 0;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 100px;
}

.userList button {
	margin-top: 20px;
	margin-right: 5px;
}

p, h2 {
	display: inline-block;
}


.searchList, .userList, h1, .tmdbLogo, .search, .getList, .listmaker, .editor {
	margin-bottom: 10px;
}

.searchList button {
	float: none;
}

.eye {
	width: 40px;
	height: 40px;
	position: relative;
	top: 10px;
}

.footer {
	margin-top: 150px;
}


@media only screen and (max-width: 800px) {
    .searchList, .userList, h1, .tmdbLogo, .search, .getList, .listmaker, .editor {
    	width: 100%;
    	margin: 1%;
    }
}