* {
	box-sizing: border-box;
	text-align: center
}

img {
	display: inline-block;
	margin: 5px;
	width: 92px;
}

p, button {
	display: inline-block
}

.userList {
	float: right;
	width: 70%;
	background: aliceblue;
}

.searchList {
	float: left;
	width: 30%;
	border: 1px solid black;
}

li {
	list-style: none;
	border: 1px solid blue;
	width: 75%;
	margin: auto;
}

input {
	height: 50px;
	width: 500px;
	margin: 20px
}

button {
	font-size: 2em;
	vertical-align: center;
	margin: 10px
}

.tmdbLogo {
	clear: both;
	width: 100%;
}